body{
    background-color: hsl(219, 77%, 95%);
}
.container{
margin-left: auto;
margin-right: auto;
text-align: center;
width: 320px;
height: 500px;
background-color: hsl(0, 0%, 100%);
border-radius: 15px;
}
.container img{
    width: 290px;
    margin-top: 15px;
    border-radius: 15px;
}
.heading{
    padding: 20px 28px;
    color: hsl(218, 44%, 22%);
    font-family: 'Outfit', sans-serif;
    font-weight: 700;
    font-weight: bold;
    font-size: 22px;
}
.text{
    padding: 1px 30px;
    color: hsl(220, 15%, 55%);
    font-family: 'Outfit', sans-serif;
    font-weight: 400;
    font-size: 16px;
}